packer/*/packer_cache
packer/*/secrets.json
packer/ubuntu/output-ubuntu-*
terraform/secrets.tf
terraform/swarm/.terraform
terraform/swarm/terraform.tfstate*
terraform/vsphere/.terraform
terraform/vsphere/terraform.tfstate*
.terraform/
